# --- API Server ---
fastapi==0.133.0
uvicorn[standard]==0.41.0
pydantic
httpx

# --- Generative AI & Orchestration ---
langchain-ollama==1.0.1
langchain-core
ollama==0.6.1
accelerate

# --- Retrieval AI (Dependencies) ---
faiss-cpu==1.13.2
sentence-transformers
adapters==1.2.0
ragatouille==0.0.9.post2
psutil
langchain-community

# --- Additional Utilities ---
numpy==2.2.6
pandas==2.3.3
nltk==3.9.3
rank-bm25==0.2.2

# Artifact Synchronization tool
gdown

# Code Synchronization: Installation of RAG project by downloading the source code directly from GitHub. 
                                                          # Docker Compose. The import in main.py works natively without this!
